@import url(./root.css);
.jungle-img { background-image: url(/assets/img/jungle.jpg); }

.sawanna-img { background-image: url(/assets/img/sawanna.jpg); }

.rafa-img { background-image: url(/assets/img/rafa.jpg); }

.biegun-img { background-image: url(/assets/img/biegun.jpg); }

.columbia-img { background-image: url(/assets/img/columbia.jpg); }

.sou-africa-img { background-image: url(/assets/img/sou-africa.jpg); }
