@import url(./root.css);

.frog-img{
    background-image: url(/assets/img/poison-frog.jpg);
}

.spider-img{
    background-image: url(/assets/img/spider.jpg);
}

.jungle-img{
    background-image: url(/assets/img/jungle.jpg);
}

.sneak-img{
    background-image: url(/assets/img/sneak-in-grass.jpg);
}

@media (orientation: portrait){
    .deco-text{
        top: 25vh;
    }
}